.divClass > h1 {
  color: blue;
}

#thirdDiv > img {
  width: 400px;
}

#thirdDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 500px;
  background-color: chocolate;
  padding: 50px;
  border: 1px solid black;
}

#spanID {
  font-size: 18px;
  margin: 50px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
